@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

:root {
    --bkg-color: aliceBlue;
    --boxshadow2: -5px 8px 17px rgba(0,0,0,0.9);
    --boxshadow3: 0px 2px 7px rgba(0,0,0,0.9);
}

*{
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    background-color: rgb(23, 38, 42);
}
body.dark-theme {
    --bkg-color: black;
}

.nav {
    position: fixed;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 5rem;
    border-radius: 0 0 10px 10px;
    border-bottom: 0.2rem solid black;
    z-index: 100;
    animation: spin 2s infinite;
}
.navContent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.title {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 15rem;
    margin: 0;
    letter-spacing: 0.1rem;
    color: rgb(198, 94, 56);
    border-radius: 15px;
    width: 23rem;
    cursor: pointer;
    user-select: none;
}
.title:hover {
    background-color: rgb(154, 194, 190);
    /* background-color: rgb(23, 38, 42); */
}
.title:active {
    transform: scale(0.9);
}
.title img {
    /* width: 90px; */
    width: 50px;
    margin: 0 1rem;
}

.menu {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.menuList {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 3rem;
}
.menuList #search {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 1rem;
    color: rgb(198, 94, 56);
}
.menuList .option1{
    width: 7rem;
    height: 2.5rem;
    border-radius: 15px;
    border: none;
    background-color: transparent;
    font-size: 21px;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: rgb(198, 94, 56);
    cursor: pointer;
}
.menuList .option1:hover {
    background-color: rgb(154, 194, 190);
    /* background-color: rgb(23, 38, 42); */
}
.menuList .option1:active {
    transform: scale(0.9);
}
.menuList .option2{
    width: 7rem;
    height: 2.5rem;
    border-radius: 15px;
    border: none;
    background-color: transparent;
    font-size: 21px;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: rgb(198, 94, 56);
    cursor: pointer;
}
.menuList .option2:hover {
    background-color: rgb(154, 194, 190);
    /* background-color: rgb(23, 38, 42); */
}
.menuList .option2:active {
    transform: scale(0.9);
}
.menuList .option3{
    display: flex;
    width: 12rem;
    height: 2.5rem;
    border-radius: 15px;
    border: none;
    background-color: transparent;
    font-size: 21px;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 0.1rem;
    gap: 0.1rem;
    color: rgb(198, 94, 56);
    cursor: pointer;
}
.menuList .option3:hover {
    background-color: rgb(154, 194, 190);
    /* background-color: rgb(23, 38, 42); */
}
.menuList .search {
    border: none;
    background-color: transparent;
    border-radius: 15px;
    font-size: 21px;
    font-family: inherit;
    font-weight: bold;
    outline: none;
    width: 10rem;
    padding: 0 1rem;
    color: rgb(198, 94, 56);
}
.menuList .search:focus {
    width: 20rem;
    background-color: rgb(154, 194, 190);
}
.menuList .account {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    left: 9rem;
    padding: 0 1rem;
    border: none;
    background-color: transparent;
    border-radius: 15px;
    width: 10rem;
    height: 2.5rem;
    font-size: 21px;
    font-weight: bold;
    color: rgb(198, 94, 56);
    gap: 1rem;
    cursor: pointer;
    user-select: none;
}
.menuList .account:hover {
    background-color: rgb(154, 194, 190);
}
.menuList .account:active {
    transform: scale(0.9);
}
.menuList #userIcon {
    font-size: 27px;
}

.homePage {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 93vh;
    background-color: rgb(116, 164, 164);
    box-shadow: 0px 0px 90px rgba(0,0,0,0.9);
}
.homePage .img1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80rem;
    padding: 5rem;
}
.homePage .img2 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    bottom: 9rem;
    margin: 0rem;
    padding: 6rem;
}

.main {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0rem 8rem;
    background-color: rgb(92, 124, 108);
    height: 100%;
    top: 5rem;
}
.main.blur {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0rem 8rem;
    background-color: rgb(92, 124, 108);
    height: 100%;
    top: 5rem;
    filter: blur(5px);
}

.main .mainTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.card {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 0rem;
    padding: 5rem 0rem;
    margin: 0rem 1.5rem;
    gap: 3rem;
    cursor: pointer;
}
.card img {
    width: 17rem;
    box-shadow: var(--boxshadow2);
    transform: perspective(500px);
    border-radius: 10px;
}
.card img:hover {
    transform: scale(1.5);
    transform: perspective(400px)rotateY(-20deg);
    box-shadow: 15px 8px 17px rgba(0,0,0,0.9);
    transition: transform 0.8s ease;
    animation: move 2s;
}
.card img:active {
    transform: scale(1.5);
    z-index: 100;
}
@keyframes move {
    0% {
        transform: perspective(400px)rotateY(0deg);
    }
    50% {
        transform: perspective(400px)rotateY(20deg);
        box-shadow: -15px 8px 17px rgba(0,0,0,0.9);
    }
    /* 100% {
        transform: perspective(400px)rotateY(0deg);
    } */
}

.cardSearch {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 0rem;
    padding: 5rem 0rem;
    margin: 0rem 1.5rem;
    gap: 3rem;
    cursor: pointer;
}
.cardSearch .cardS {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    user-select: none;
}
.cardSearch img {
    width: 17rem;
    box-shadow: var(--boxshadow2);
    transform: perspective(500px);
    border-radius: 10px;
}
.cardSearch .cardID {
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
}
.cardSearch img:hover {
    transform: scale(1.5);
    transform: perspective(400px)rotateY(-20deg);
    box-shadow: 15px 8px 17px rgba(0,0,0,0.9);
    transition: transform 0.8s ease;
    animation: move 2s;
}
.cardSearch img:active {
    transform: scale(1.5);
    z-index: 100;
}
.cardSearch .overview {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 2rem;
    gap: 2rem;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    width: 9rem;
    height: 2.5rem;
    border-radius: 10px;
}
.cardSearch .overview #addCard {
    font-size: 35px;
    cursor: pointer;
}
.cardSearch .overview #addCard:hover {
    color: #2E69FF;
}
.cardSearch .overview #addCard:active {
    transform: scale(0.9);
}
.cardSearch .overview #delCard {
    font-size: 35px;
    cursor: pointer;
}
.cardSearch .overview #delCard:active {
    transform: scale(0.9);
}
.cardSearch .overview #delCard:hover {
    color: #FF512E;
}

.sets {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgb(172, 156, 92);
    border-radius: 10px;
    box-shadow: 0px 0px 13px rgba(0,0,0,0.9), 0px 12px 1px #6D6237;
    width: 32rem;
    height: 16rem;
    padding: 5rem 0rem;
    margin: 1rem 1.5rem;
    gap: 3rem;
    cursor: pointer;
}
.sets:active{
    transform: translateY(10px);
    box-shadow: none;
}
.set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(154, 194, 190);
    border-radius: 10px;
    width: 31rem;
    height: 15rem;
    padding: 1rem 0rem;
}
.set img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.setName {
    font-size: 29px;
    font-weight: bold;
    padding: 0rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.series {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgb(172, 156, 92);
    border-radius: 10px;
    box-shadow: 0px 0px 13px rgba(0,0,0,0.9), 0px 12px 1px #6D6237;
    width: 32rem;
    height: 16rem;
    padding: 5rem 0rem;
    margin: 1rem 1.5rem;
    gap: 3rem;
    cursor: pointer;
}
.series:active{
    transform: translateY(10px);
    box-shadow: none;
}
.serie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(154, 194, 190);
    border-radius: 10px;
    width: 31rem;
    height: 15rem;
    padding: 1rem 0rem;
}
.serie img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.serieName {
    font-size: 29px;
    font-weight: bold;
    padding: 0rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}









/* Loading Screen CSS */
.loader {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.loaderTitle {
    color: azure;
    letter-spacing: 0.7rem;
    font-size: 30px;
    text-transform:uppercase;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 52%;
    left: 45.5%;
}
.load {
    display: inline-block;
    animation: loading 4s infinite;
}
.loader .load1 {
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 15px;
    animation-delay: 0s;
}
.loader .load2 {
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 15px;
    animation-delay: 1s;
}
.loader .load3 {
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 15px;
    animation-delay: 2s;
}
@keyframes loading {
    0% {
        background-color: black;
    }
    100% {
        background-color: #2B7FFF;
    }
}








.signInForm {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: -3rem;
    right: 44rem;
    background-color: #94bdbd;
    box-shadow: var(--boxshadow2);
    height: 550px;
    width: 550px;
    z-index: 100;
    margin: 21.4rem;
}
.signInForm h3 {
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    top: 0px;
    letter-spacing: 1px;
}
.signInForm .closeSignInForm {
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    right: 0.5rem;
    top: 0.1rem;
    cursor: pointer;
}
.signInForm .closeSignInForm:hover {
    color: red;
}
.usernameTitle {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    top: -2rem;
    left: 18.5rem;
}
.signInUsernameTitleError {
    display: flex;
    position: absolute;
    font-size: 19px;
    letter-spacing: 0.2rem;
    top: 7.8rem;
    left: 10rem;
    color: red;
}
.username {
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0.9rem 0.6rem;
    margin: 1rem 1rem;
    font-size: 18px;
    width: 500px;
    border: 2px solid #73a4a4;
    border-radius: 10px;
    top: -2rem;
    left: 17rem;
    outline: none;
}
.passwordTitle {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    top: 0.5rem;
    left: 18.5rem;
}
.password {
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0.9rem 0.6rem;
    margin: 1.5rem 1rem;
    font-size: 18px;
    width: 500px;
    border: 2px solid #73a4a4;
    border-radius: 10px;
    left: 17rem;
    outline: none;
}
.signInForm .buttons {
    position: relative;
    top: 10rem;
    right: 4rem;
    justify-content: center;
    align-items: center;
}
.submit{
    justify-content: center;
    align-items: center;
    background-color: #458ee2;
    border: 2px solid #73a4a4;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    font-family: inherit;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
}
.submit:active{
    transform: scale(0.9);
}
.submit:hover{
    opacity: 0.9;
}
.accountLink {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 15rem;
    right: 21rem;
    gap: 0rem;
}
.textBeforeLink {
    width: 16rem;
}
.createAccountLink {
    cursor: pointer;
    width: 9rem;
    z-index: 100;
}









.createAccountForm {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: -3rem;
    right: 44rem;
    margin: 21.4rem;
    background-color: #94bdbd;
    box-shadow: var(--boxshadow2);
    height: 550px;
    width: 550px;
    z-index: 100;
}
.createAccountForm h3 {
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    top: 0px;
    letter-spacing: 1px;
}
.createAccountForm .closeCreateAccountForm {
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    right: 0.5rem;
    top: 0.1rem;
    cursor: pointer;
}
.createAccountForm .closeCreateAccountForm:hover {
    color: red;
}
.createAccountForm .usernameTitle{
    display: flex;
    position: relative;
    margin: -1.7rem 1.5rem;
    color: var(--text-color);
    font-size: 18px;
    top: -1rem;
    left: 5rem;
}
.createAccountForm .createAccountUsernameTitleError{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.2rem;
    top: 5.8rem;
    left: 10rem;
    width: 23rem;
    color: black;
    padding: 0 3rem;
    background-color: red;
    border-radius: 10px;
    user-select: none;
}
.createAccountForm .caUsername {
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0.9rem 0.6rem;
    margin: 1.5rem 1rem;
    font-size: 18px;
    width: 500px;
    border: 2px solid #73a4a4;
    border-radius: 10px;
    top: 0.3rem;
    left: 5rem;
}
.createAccountForm .passwordTitle {
    display: flex;
    position: relative;
    margin: -1.5rem 1.5rem;
    font-size: 18px;
    top: 1.6rem;
    left: 5rem
}
.createAccountForm .caPassword {
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0.9rem 0.6rem;
    margin: 2rem 1rem;
    font-size: 18px;
    width: 500px;
    border: 2px solid #73a4a4;
    border-radius: 10px;
    top: 2rem;
    left: 5rem;
}
.createAccountForm .emailTitle {
    display: flex;
    position: relative;
    margin: -1.5rem 1.5rem;
    font-size: 18px;
    top: 2rem;
    left: 5.5rem;
    font-weight: bold;
    margin: -0.8rem 1rem;
}
.createAccountForm .email {
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0.9rem 0.6rem;
    margin: 1.5rem 1rem;
    font-size: 18px;
    width: 500px;
    border: 2px solid #73a4a4;
    border-radius: 10px;
    left: 5rem;
    top: 2rem;
    outline: none;
}
.createAccountForm .button {
    position: relative;
    top: 12rem;
    right: 16rem;
    justify-content: center;
    align-items: center;
}
.signUp{
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background-color: #458ee2;
    border: 2px solid #73a4a4;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    z-index: 100;
}
.signUp:active{
    transform: scale(0.9);
}
.signUp:hover{
    opacity: 0.9;
}

.cardBorder {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 30rem;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    border-radius: 40px;
    padding: 1rem;
    margin: 1rem;
}









.off-screen-side-menu {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    /* right: -15rem; */
    right: -20rem;
    top: 5rem;
    height: 40rem;
    width: 15rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #a4b4b4;
    box-shadow: var(--boxshadow2);
    /* opacity:0; */
    /* animation: slideOff 1s ease; */
    transition: transform 0.6s ease;
}
.off-screen-side-menu.active {
    opacity: 1;
    /* animation: slide 1s ease; */
    transform: translateX(-20rem);
}
@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
.off-screen-side-menu ul {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    gap: 5rem;
    top: -3rem;
}
.off-screen-side-menu .signIn {
    /* width: 10rem; */
    width: 13rem;
    height: 2.5rem;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-size: 18px;
    box-shadow: var(--boxshadow3);
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
.off-screen-side-menu .signIn:hover {
    background-color: #94bdbd;
}
.off-screen-side-menu .signIn:active {
    transform: scale(0.9);
}
.off-screen-side-menu .favorites {
    /* width: 10rem; */
    width: 13rem;
    height: 2.5rem;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-size: 18px;
    box-shadow: var(--boxshadow3);
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
.off-screen-side-menu .favorites:hover {
    background-color: #94bdbd;
}
.off-screen-side-menu .favorites:active {
    transform: scale(0.9);
}
.off-screen-side-menu .logOut {
    /* width: 10rem; */
    width: 13rem;
    height: 2.5rem;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-size: 18px;
    box-shadow: var(--boxshadow3);
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
.off-screen-side-menu .logOut:hover {
    background-color: #94bdbd;
}
.off-screen-side-menu .logOut:active {
    transform: scale(0.9);
}

.favoriteMessage {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 65rem;
    top: 30rem;
    font-size: 23px;
    font-weight: bold;
    background-color: #FF2E2E;
    border-radius: 10px;
    width: 22rem;
    height: 5rem;
    color: black;
    z-index: 100;
}
.delMessage {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 65rem;
    top: 30rem;
    font-size: 23px;
    font-weight: bold;
    background-color: #FF2E2E;
    border-radius: 10px;
    width: 22rem;
    height: 5rem;
    color: black;
    z-index: 100;
}