@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

:root {
    --bkg-color: aliceBlue;
    --boxshadow2: -5px 8px 17px rgba(0,0,0,0.9);
}

*{
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    /* background-color: var(--bkg-color); */
    background-color: rgb(23, 38, 42);
}
body.dark-theme {
    --bkg-color: black;
}

.nav {
    position: fixed;
    /* background-color: aqua; */
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 5rem;
    border-radius: 0 0 10px 10px;
    border-bottom: 0.2rem solid black;
    z-index: 100;
    animation: spin 2s infinite;
}
.navContent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.title {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 15rem;
    margin: 0;
    letter-spacing: 0.1rem;
    color: rgb(198, 94, 56);
    border-radius: 15px;
    width: 18rem;
    cursor: pointer;
    user-select: none;
}
.title:hover {
    background-color: rgb(154, 194, 190);
    /* background-color: rgb(23, 38, 42); */
}
.title:active {
    transform: scale(0.9);
}

.menu {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.menuList {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 3rem;
}
.menuList #search {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 1rem;
    color: rgb(198, 94, 56);
}
.menuList .option1{
    width: 7rem;
    height: 2.5rem;
    border-radius: 15px;
    border: none;
    background-color: transparent;
    font-size: 21px;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: rgb(198, 94, 56);
    cursor: pointer;
}
.menuList .option1:hover {
    background-color: rgb(154, 194, 190);
    /* background-color: rgb(23, 38, 42); */
}
.menuList .option1:active {
    transform: scale(0.9);
}
.menuList .option2{
    width: 7rem;
    height: 2.5rem;
    border-radius: 15px;
    border: none;
    background-color: transparent;
    font-size: 21px;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: rgb(198, 94, 56);
    cursor: pointer;
}
.menuList .option2:hover {
    background-color: rgb(154, 194, 190);
    /* background-color: rgb(23, 38, 42); */
}
.menuList .option2:active {
    transform: scale(0.9);
}
.menuList .option3{
    display: flex;
    width: 12rem;
    height: 2.5rem;
    border-radius: 15px;
    border: none;
    background-color: transparent;
    /* background-color: azure; */
    font-size: 21px;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 0.1rem;
    gap: 0.1rem;
    color: rgb(198, 94, 56);
    cursor: pointer;
}
.menuList .option3:hover {
    background-color: rgb(154, 194, 190);
    /* background-color: rgb(23, 38, 42); */
}
/* .menuList .option3:active {
    transform: scale(0.9);
} */
.menuList .search {
    border: none;
    background-color: transparent;
    border-radius: 15px;
    font-size: 21px;
    font-family: inherit;
    font-weight: bold;
    outline: none;
    width: 10rem;
    padding: 0 1rem;
    color: rgb(198, 94, 56);
}
.menuList .search:focus {
    width: 20rem;
    background-color: rgb(154, 194, 190);
}
.menuList .account {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    left: 9rem;
    padding: 0 1rem;
    border: none;
    background-color: transparent;
    border-radius: 15px;
    width: 10rem;
    height: 2.5rem;
    font-size: 21px;
    font-weight: bold;
    color: rgb(198, 94, 56);
    gap: 1rem;
    cursor: pointer;
    user-select: none;
}
.menuList .account:hover {
    background-color: rgb(154, 194, 190);
}
.menuList .account:active {
    transform: scale(0.9);
}
.menuList #userIcon {
    font-size: 27px;
}

.homePage {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 93vh;
    background-color: rgb(116, 164, 164);
    box-shadow: 0px 0px 90px rgba(0,0,0,0.9);
}
.homePage .img1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80rem;
    padding: 5rem;
}
.homePage .img2 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    /* bottom: 18rem; */
    bottom: 9rem;
    margin: 0rem;
    /* padding: 0rem; */
    padding: 6rem;
}

.main {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0rem 8rem;
    /* padding: 3rem 0rem; */
    background-color: rgb(92, 124, 108);
    height: 100%;
    top: 5rem;
}

.main .mainTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.card {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 0rem;
    padding: 5rem 0rem;
    /* background-color: black; */
    /* width: 16rem; */
    /* height: 21rem; */
    /* border-radius: 15px; */
    margin: 0rem 1.5rem;
    gap: 3rem;
    cursor: pointer;
}
.card img {
    /* width: 100%; */
    width: 17rem;
    /* height: 20rem; */
    box-shadow: var(--boxshadow2);
    transform: perspective(500px);
    border-radius: 10px;
}
.card img:hover {
    transform: scale(1.5);
    transform: perspective(400px)rotateY(-20deg);
    /* transform: perspective(400px)rotateY(0deg); */
    box-shadow: 15px 8px 17px rgba(0,0,0,0.9);
    transition: transform 0.8s ease;
    animation: move 2s;
}
.card img:active {
    transform: scale(1.5);
    z-index: 100;
}
@keyframes move {
    0% {
        transform: perspective(400px)rotateY(0deg);
    }
    50% {
        transform: perspective(400px)rotateY(20deg);
        box-shadow: -15px 8px 17px rgba(0,0,0,0.9);
    }
    /* 100% {
        transform: perspective(400px)rotateY(0deg);
    } */
}

.cardSearch {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 0rem;
    padding: 5rem 0rem;
    margin: 0rem 1.5rem;
    gap: 3rem;
    cursor: pointer;
}
.cardSearch .cardS {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    user-select: none;
}
.cardSearch img {
    /* width: 100%; */
    width: 17rem;
    /* height: 20rem; */
    box-shadow: var(--boxshadow2);
    transform: perspective(500px);
    border-radius: 10px;
}
.cardSearch .cardID {
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
}
.cardSearch img:hover {
    transform: scale(1.5);
    transform: perspective(400px)rotateY(-20deg);
    /* transform: perspective(400px)rotateY(0deg); */
    box-shadow: 15px 8px 17px rgba(0,0,0,0.9);
    transition: transform 0.8s ease;
    animation: move 2s;
}
.cardSearch img:active {
    transform: scale(1.5);
    z-index: 100;
}
.cardSearch .overview {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 2rem;
    gap: 2rem;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    width: 9rem;
    height: 2.5rem;
    border-radius: 10px;
}
.cardSearch .overview #addCard {
    font-size: 35px;
    cursor: pointer;
}
.cardSearch .overview #addCard:active {
    transform: scale(0.9);
}
.cardSearch .overview #delCard {
    font-size: 35px;
    cursor: pointer;
}
.cardSearch .overview #delCard:active {
    transform: scale(0.9);
}

.sets {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgb(172, 156, 92);
    border-radius: 10px;
    box-shadow: 0px 0px 13px rgba(0,0,0,0.9), 0px 12px 1px #6D6237;
    width: 32rem;
    height: 16rem;
    padding: 5rem 0rem;
    margin: 1rem 1.5rem;
    gap: 3rem;
    cursor: pointer;
}
.sets:active{
    /* transform: scale(0.9); */
    transform: translateY(10px);
    box-shadow: none;
}
.set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(154, 194, 190);
    border-radius: 10px;
    width: 31rem;
    height: 15rem;
    padding: 1rem 0rem;
}
.set img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.setName {
    font-size: 29px;
    font-weight: bold;
    /* letter-spacing: 0.2rem; */
    padding: 0rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.series {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgb(172, 156, 92);
    border-radius: 10px;
    box-shadow: 0px 0px 13px rgba(0,0,0,0.9), 0px 12px 1px #6D6237;
    width: 32rem;
    height: 16rem;
    padding: 5rem 0rem;
    margin: 1rem 1.5rem;
    gap: 3rem;
    cursor: pointer;
}
.series:active{
    /* transform: scale(0.9); */
    transform: translateY(10px);
    box-shadow: none;
}
.serie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(154, 194, 190);
    border-radius: 10px;
    width: 31rem;
    height: 15rem;
    padding: 1rem 0rem;
}
.serie img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.serieName {
    font-size: 29px;
    font-weight: bold;
    /* letter-spacing: 0.2rem; */
    padding: 0rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}









/* Loading Screen CSS */
.loader {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.loaderTitle {
    color: azure;
    letter-spacing: 0.7rem;
    font-size: 30px;
    text-transform:uppercase;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 52%;
    left: 45.5%;
}
.load {
    display: inline-block;
    animation: loading 4s infinite;
}
.loader .load1 {
    position: relative;
    /* top: 40%; */
    width: 3rem;
    height: 3rem;
    /* background-color: aqua; */
    /* background-color: #2B7FFF; */
    border-radius: 15px;
    animation-delay: 0s;
}
.loader .load2 {
    position: relative;
    /* top: 40%; */
    width: 3rem;
    height: 3rem;
    /* background-color: aqua; */
    border-radius: 15px;
    animation-delay: 1s;
}
.loader .load3 {
    position: relative;
    /* top: 40%; */
    width: 3rem;
    height: 3rem;
    /* background-color: aqua; */
    border-radius: 15px;
    animation-delay: 2s;
}
@keyframes loading {
    0% {
        background-color: black;
    }
    100% {
        /* background-color: aqua; */
        background-color: #2B7FFF;
    }
}








.signInForm {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 0rem;
    /* top: 9rem; */
    background-color: gray;
    box-shadow: var(--boxshadow2);
    height: 550px;
    width: 550px;
    z-index: 100;
    margin: 21.4rem;
}
.signInForm h3 {
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    top: 0px;
    letter-spacing: 1px;
}
.usernameTitle {
    position: relative;
    color: var(--text-color);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    top: -2rem;
    left: 18.5rem;
}
.usernameTitleError {
    display: flex;
    position: absolute;
    font-size: 18px;
    top: 10rem;
    left: 10rem;
    color: red;
}
.username {
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0.9rem 0.6rem;
    margin: 1rem 1rem;
    font-size: 18px;
    width: 500px;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    background-color: var(--bkg-color);
    top: -2rem;
    left: 17rem;
    outline: none;
}
.passwordTitle {
    position: relative;
    color: var(--text-color);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    top: 0.5rem;
    left: 18.5rem;
}
.password {
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0.9rem 0.6rem;
    margin: 1.5rem 1rem;
    font-size: 18px;
    width: 500px;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    background-color: var(--bkg-color);
    color: var(--text-color);
    left: 17rem;
    outline: none;
}
.signInForm .buttons {
    position: relative;
    top: 10rem;
    right: 4rem;
    justify-content: center;
    align-items: center;
}
.submit{
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background-color: #458ee2;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    height: 50px;
    width: 150px;
    font-family: inherit;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
}
.submit:active{
    transform: scale(0.9);
}
.submit:hover{
    opacity: 0.9;
}
.accountLink {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 15rem;
    right: 21rem;
    gap: 0rem;
}
.textBeforeLink {
    color: var(--text-color);
    width: 16rem;
}
.createAccountLink {
    cursor: pointer;
    width: 9rem;
    z-index: 100;
}









.createAccountForm {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 9rem;
    background-color: gray;
    box-shadow: var(--boxshadow2);
    height: 550px;
    width: 550px;
}
.createAccountForm h3 {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 35px;
    top: 0px;
    letter-spacing: 1px;
}
.createAccountForm .usernameTitle{
    display: flex;
    position: relative;
    margin: -1.7rem 1.5rem;
    color: var(--text-color);
    font-size: 18px;
    top: -1rem;
    left: 5rem;
}
.createAccountForm .usernameTitleError{
    display: flex;
    position: absolute;
    font-size: 18px;
    top: 7.2rem;
    left: 10rem;
    color: red;
}
.createAccountForm .username {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0.9rem 0.6rem;
    margin: 1.5rem 1rem;
    font-size: 18px;
    width: 500px;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    background-color: var(--bkg-color);
    color: var(--text-color);
    top: 0.3rem;
    left: 5rem;
}
.createAccountForm .passwordTitle {
    display: flex;
    position: relative;
    margin: -1.5rem 1.5rem;
    color: var(--text-color);
    font-size: 18px;
    top: 1.6rem;
    left: 5rem
}
.createAccountForm .password {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0.9rem 0.6rem;
    margin: 2rem 1rem;
    font-size: 18px;
    width: 500px;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    background-color: var(--bkg-color);
    color: var(--text-color);
    top: 2rem;
    left: 5rem;
}
.createAccountForm .emailTitle {
    display: flex;
    position: relative;
    margin: -1.5rem 1.5rem;
    color: var(--text-color);
    font-size: 18px;
    top: 2rem;
    left: 5.5rem;
    font-weight: bold;
    margin: -0.8rem 1rem;
}
.createAccountForm .email {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0.9rem 0.6rem;
    margin: 1.5rem 1rem;
    font-size: 18px;
    width: 500px;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    background-color: var(--bkg-color);
    color: var(--text-color);
    left: 5rem;
    top: 2rem;
    outline: none;
}
.createAccountForm .button {
    display: flex;
    position: relative;
    gap: 2rem;
    top: 12rem;
    right: 16rem;
    justify-content: center;
    align-items: center;
}
.signUp{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background-color: #458ee2;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    height: 50px;
    width: 150px;
    font-family: inherit;
    letter-spacing: 1px;
    cursor: pointer;
    z-index: 100;
}
.signUp:active{
    transform: scale(0.9);
}
.signUp:hover{
    opacity: 0.9;
}